<html>
  <head>
    <title>App Bridge Tutorial</title>
    <link
      rel="stylesheet"
      href="https://sdks.shopifycdn.com/polaris/3.16.0/polaris.min.css"
    />
  </head>
  <body>
    <div class="Polaris-Page">
      <div class="Polaris-Page-Header">
        <div class="Polaris-Page-Header__MainContent">
          <div class="Polaris-Page-Header__TitleAndActions">
            <div class="Polaris-Page-Header__Title">
              <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
                App Bridge Tutorial
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__AnnotatedSection">
            <div class="Polaris-Layout__AnnotationWrapper">
              <div class="Polaris-Layout__Annotation">
                <div class="Polaris-TextContainer">
                  <h2 class="Polaris-Heading">Style</h2>
                  <p>Customize the style of your checkout</p>
                </div>
              </div>
              <div class="Polaris-Layout__AnnotationContent">
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <div class="Polaris-SettingAction">
                      <div class="Polaris-SettingAction__Setting">
                        Upload your store’s logo, change colors and fonts, and
                        more.
                      </div>
                      <div class="Polaris-SettingAction__Action">
                        <button
                          type="button"
                          class="Polaris-Button Polaris-Button--primary"
                        >
                          <span class="Polaris-Button__Content"
                            ><span>Customize Checkout</span></span
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.SHOPIFY_API_KEY = "<%= SHOPIFY_API_KEY %>";
    </script>
    <script src="assets/app.js"></script>
  </body>
</html>
